body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.item {
  width: 75%;
  margin: 1em auto;
  box-shadow: 3px 3px 3px lightgray;
  padding: 0.5em 0 2em 0.5em;
}

.name {
  display: block;
  text-align: left;
}

.email {
  display: block;
  float: right;
  margin-right: 1em;
}